.btn__secondary {
  background: var(--color-secondary);
  color: var(--color-black);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 0;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 18px;
  max-width: 330px;
  transition: all 0.3s ease-in;
}

.btn__secondary:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .btn__secondary {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .btn__secondary {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .btn__secondary {
    font-size: 24px;
  }
}
